---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" %}
      <span class="font-weight-bold">
        {% if site.first_name == "Niven" %}
        <a style="all:inherit" href="https://www.merriam-webster.com/dictionary/niven">N</a><a style="all:inherit" href="https://www.merriam-webster.com/dictionary/is">i</a><a style="all:inherit" href="https://www.merriam-webster.com/dictionary/very">v</a><a style="all:inherit" href="https://www.merriam-webster.com/dictionary/enthusiastically">e</a><a style="all:inherit" href="https://www.merriam-webster.com/dictionary/niven">n</a>
        {% else %}
        {{ site.first_name }}
        {% endif %}
      </span>
      {{ site.middle_name }} {{ site.last_name }}
      {% else %}
      {{ site.title }}
      {% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <div class="container">
          <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
          {% if page.profile.boop %}
            <button id="boop-btn"
                    style="left:{{ page.profile.boop.left}}; top:{{ page.profile.boop.top}}; width:{{ page.profile.boop.width}}; height:{{ page.profile.boop.height}}"></button>
          {% endif %}
        </div>
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>

<script type="text/javascript">
  $(document).ready(() => {
    var btn = document.getElementById("boop-btn");
    if (!btn) return;
    btn.addEventListener("click", () => { alert("Boop!"); }, false);
  });
</script>
